@{
    ViewData["Title"] = "Forgot Password";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title mb-4">Forgot your password?</h4>
                    <form id="resetForm" asp-action="ForgotPassword" method="post">
                        <div class="form-group">
                            <label for="emailAddress" class="mb-2">Email Address</label>
                            <input type="email" class="form-control mb-3" name="EmailAddress" id="emailAddress" />
                        </div>
                        <button type="button" class="btn btn-primary btn-block" id="sendResetButton">Send Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("sendResetButton").addEventListener("click", function () {
        sendResetLink();
    });

    function sendResetLink() {
        var form = document.getElementById("resetForm");

        fetch('/Home/ForgotPassword', {
            method: 'POST',
            body: new FormData(form)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text(); 
            })
            .then(data => {
                alert("The reset password link has been sent successfully to your email address");
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while sending the reset password link!');
            });
    }
</script>